/* You can add global styles to this file, and also import other style files */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  margin: 0;
}
.parrafo {
  padding-right: 55px;
  text-align: center;
}
